* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    height: 80px;
    background: orange;
}
header {
    height: calc(100vh - 80px);
    background: green;
}
.about {
    display: flex;
}
.left {
    width: 50%;
    height: 100vh;
}
.right {
    width: 50%;
    height: 100vh;
}